.cardDepoimentos {
  background-color: #FFFFFF; /* Fundo branco para os cards */
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
    /* padding: 24px; */
  /* gap: 20px; */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

.depoimento {
  font-style: italic;
  color: #333;
  /* margin: 0 0 8px 0; */
  flex-grow: 1; /* Permite que o depoimento ocupe o espaço restante */
}

.autor {
  display: flex;
  align-items: flex-start;
  gap: 16px;
}

.autorTexto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.avatarAutor {
  width: 48px; /* Tamanho do avatar */
  height: 48px; /* Tamanho do avatar */
  border-radius: 50%;
  object-fit: cover; /* Garante que a imagem preencha o espaço sem distorção */
}

.nomeAutor {
  font-weight: bold;
  color: #000;
  /* margin-top: 0; */
}