.cardDepoimentos {
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  background-color: pink;
}

.cardDepoimentos div:nth-child(2) p {
  font-style: italic;
  color: #333;
  flex-grow: 1; /* Permite que o depoimento ocupe o espaço restante */
}

.cardDepoimentos div:nth-child(1) {
  display: flex;
  align-items: flex-start;
  gap: 16px;
}

.cardDepoimentos div:nth-child(2) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.avatarAutor {
  width: 48px; /* Tamanho do avatar */
  height: 48px; /* Tamanho do avatar */
  border-radius: 50%;
  object-fit: cover; /* Garante que a imagem preencha o espaço sem distorção */
}

.cardDepoimentos div:nth-child(2) span {
  font-weight: bold;
  color: #000;
}