.metricaUnica {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.metricaUnica p,
.metricaUnica span {
    margin: 5px;
}

.metricaUnica p {
    color: #7c0000;
}


.metricaUnica>span {
    background-color: #7D0000;
    color: white;
    width: 80%;
    padding: 10px;
    border-radius: 8px;

}